<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Volunteer and teach in Ghana | Triumph School</title>
    <link href="../../public/main.css" rel="stylesheet"/>
  </head>
  <body>
    {{> navbar}}
  </body>
</html>
