body {
  font-family: 'Work Sans', sans-serif;
}

/*NAVBAR BEGINS*/
.nav {
  display: block;
  height: 3em;
  position: relative;
}
.nav__title {
  color: black;
  font-size: 1.9em;
  padding-top: 0.3em;
  padding-left: 0.15em;
  position: absolute;
  text-decoration: none;
}
#nav__hamburger {
  background: none;
  border:0;
  cursor: pointer;
  font-size: 2.3em;
  line-height: 1.1em;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
}
#nav__cross {
  background: none;
  border: 0;
  cursor: pointer;
  display: none;
  font-size: 6.5em;
  line-height: 0.68em;
  position: absolute;
  outline: none;
  right: 0;
  top: 0;
}
#nav__menu {
  background-color: #E0E0E0;
  display: none;
  font-size: 1em;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.menu__list {
  margin: 0;
  padding: 0;
}
.menu__list__item {
  border-bottom: white 1px solid;
  color: black;
  display: block;
  padding: 15px 0 15px 0;
  text-decoration: none;
}
.menu__list__item:hover {
  background-color: #C4C4C4;
  border-bottom: white 1px solid;
  display: block;
  padding: 15px 0 15px 0;
}
/*NAVBAR ENDS*/

/*FOOTER BEGINS*/
.footer {
  background-color: white;
  display: block;
  height: 18%;
  position: absolute;
  text-align: center;
  width: 100%;
}
.footer__testimonial-section {
  background-color: #E0E0E0;
  display: block;
  position: relative;
  height: 9em;
  margin: auto;
}
.testimonial {
  display: none;
  font-size: 1em;
  margin: auto;
  width: 85%;
}
.testimonial__quote {
  display: block;
  font-style: italic;
  margin: auto;
  min-height: 36px;
  padding-top: 2em;
  width: 90%;
}
.testimonial__author {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.testimonial__circles {
  background-color: inherit;
  display: block;
  font-size: 0.5em;
  padding-top: 1em;
  padding-bottom: 1.5em;
}
.testimonial__circle {
  color: #828282;
  width: 13px;
}
.testimonial__circle--current {
  color: black;
}
.footer-links {
  display: inline-block;
  position: relative;
  padding: 1em 0em 1em 0em;
}
.link {
  color: black;
  font-size: 0.8em;
  padding: 0em 2.5em;
  text-decoration: underline;
}
.link:hover {
  font-weight: 900;
}
.link--back-home {
  display: block;
  padding: 1em 0em;
  text-align: center;
}
/*FOOTER ENDS*/

/*Index CSS Begins*/
.cover {
  background-position: bottom;
  background-size: cover;
  height: 40vh;
  margin: 1% 0;
  overflow: hidden;
}
.cover__img {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.cover__about {
  background-image: url("../images/triumph.jpg");
}
.cover__apply {
  background-image: url("../images/football.png");
}
.cover__landing {
  background-image: url("../images/excitement.jpg");
}
.cover__volunteer {
  background-image: url("../images/nancy-dance.jpg");
}
.filtered {
  background-color: black;
  opacity: 0.7;
}
.main {
  background-color: white;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: left;
}
.main--contact {
  height: 24em;
  text-align: center;
}
.main__title {
  margin-top: 0;
  text-align: center;
}
.main__text {
  line-height: 1.2em;
  margin: auto;
  padding: 0.5em 0em;
  width: 84%;
}
.square-menu {
  background-color: #E0E0E0;
  display: block;
  height: 9em;
  position: relative;
  text-align: center;
}
.square-menu__upper-left {
  position: absolute;
  padding-top: 2em;
  top: 1%;
  width: 40%;
}
.square-menu__upper-right {
  left: 50%;
  position: absolute;
  padding-top: 2em;
  width: 42%;
}
.square-menu__lower-left {
  position: absolute;
  top: 60%;
  width: 43%;
}
.square-menu__lower-right {
  left: 50%;
  position: absolute;
  top: 60%;
  width: 43%;
}
.square-menu__apply {
  border-bottom-style: solid;
  border-bottom-width: thin;
  color: #27AE60;
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
}
.square-menu__volunteer {
  border-bottom-style: solid;
  border-bottom-width: thin;
  color: #27AE60;
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
}
.square-menu__about {
  border-bottom-style: solid;
  border-bottom-width: thin;
  color: #27AE60;
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
}
.square-menu__four {
  border-bottom-style: solid;
  border-bottom-width: thin;
  color: #27AE60;
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
}
.gallery {
  display: block;
  height: 15%;
}
.gallery__img {
  display: none;
  width: 100%;
}
/*Index CSS ENDS*/

/*Volunteer page*/
.key-details {
  background-color: #E0E0E0;
  border-bottom: 1.5px solid white;
  padding: 4%;
}
/*Volunteer page ends*/

/*Apply page*/
.form {
  background-color: white;
  display: block;
  line-height: 1.2em;
  padding: 4%;
  text-align: center;
}
.visually-hidden {
  display: none;
}
fieldset {
  border: none;
  text-align: left;
}
.form__input {
  border: 1px solid black;
  margin: 10px 0;
}
.form__label {
  font-weight: 900;
}
.form__button {
  background-color: white;
  border: 2px solid black;
  color: #27AE60;
  font-weight: 900;
  margin-top: 1em;
  padding: 0.8em;
}
/*Apply page ends*/

/*About page*/
.main__school-directors {
  text-align: center;
}
.main__school-directors__img {
  position: relative;
  width: 100%;
}
/*About page ends*/

/*FAQ page*/
.faq {
  background-color: white;
  display: block;
  padding: 4%;
}
/*FAQ page ends*/

/* Larger than Ipad*/
@media (min-width: 600px) {
  .cover__title {
    font-size: 4em;
  }
  .cover {
    background-size: cover;
    background-position: bottom;
    height: 60vh;
    margin: 1% 0;
    overflow: hidden;
  }
  .cover__landing {
    background-position: center;
    height: 80vh;
  }
  .cover__volunteer {
    background-position: center;
  }
  .main {
    margin: 3% 10%;
  }
  .gallery {
    margin: 5% 10%;
  }
  .form {
    margin: 3% 10%;
    padding: 0.5em 0em;
  }
  #nav__menu {
    background-color: white;
    display: inline-block;
    position: absolute;
    right: 0%;
    text-align: right;
    top: 1.7%;
    width: 60%;
    z-index: 0;
  }
  .menu__list {
    display: inline;
    list-style-type: none;
  }
  .menu__list__item {
    display: inline-block;
    padding: 1.5% 3%;
    position: relative;
  }
  .menu__list__item:hover {
    background-color: white;
    border-bottom: none;
    display: inline-block;
    font-weight: 900;
    padding: 1.5% 3%;
  }
  #nav__hamburger {
    display: none;
  }
  #nav__cross {
    display: none;
  }
  .nav-title {
    padding-left: 3%;
    padding-top: 1.3%;
  }
  .main__school-directors__img {
    width: 75%;
  }
}
/*End of SIZE 1*/
