body {
  font-family: 'Heebo', sans-serif;
}

.nav-title {
  text-decoration: none;
  font-size: 2.5em;
  color: black;
}

.hamburger {
  font-size: 2.5em;
  position: absolute;
  top: 0;
  right: 0;
}

.cross {
  font-size: 2.5em;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
