body {
  font-family: 'Heebo', sans-serif;
}

/*NAVBAR BEGINS*/
header {
  height: 3em;
  display: block;
  position: relative;
}

.nav-title {
  position: absolute;
  text-decoration: none;
  font-size: 1.9em;
  color: black;
  padding-left: 0.15em;
  padding-top: 0.3em;
}

.hamburger {
  position: absolute;
  font-size: 2.5em;
  right: 0;
  line-height: 0.9em;
}

.cross {
  font-size: 2.5em;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.menu {
  position: absolute;
  display: none;
  width: 100%;
  background: #E0E0E0;
  font-size: 1em;
  text-align: center;
}
.menu__list {
  margin: 0;
  padding: 0;
}
.menu__list__item {
  display: none;
  padding:15px 0 15px 0;
  border-bottom: white 1px solid;
}
.menu__list__item:hover{
  display: block;
  background:#C4C4C4;
  padding:15px 0 15px 0;
  border-bottom: white 1px solid;
}

/*Check the need for this********/
.menu ul li a {
  margin: 0px;
}

/*Check the need for this********/
.menu a{
  text-decoration:none;
  color: black;
}

/*NAVBAR ENDS*/

/*FOOTER BEGINS*/
.footer {
  display: block;
  text-align: center;
  padding-bottom: 1em;
}

.testimonial {
  background-color: #E0E0E0;
  display: block;
  margin: auto;
  height: 9em;
  /*width: 100%;*/
  /*text-align: center;*/
}

.testimonial__quote {
  font-style: italic;
  font-size: 1em;
  padding-top: 2em;
  width: 90%;
  margin: auto;
}

.testimonial__author {
  font-weight: bold;
  font-size: 1em;
}

.footer-links {
  padding: 0.5em 0em;
}

/*Check what's neccessary*/
.link {
  font-size: 0.8em;
  padding: 0em 2.5em;
  text-decoration: underline;
  color: black;
}

.link--back-home{
  display: block;
  text-align: center;
  padding: 1em 0em;
}

.footer-links:visted link:visited {
  text-decoration: underline;
  color: black;
}

.footer-links:hover link:hover {
  font-weight: bold;
}

/*FOOTER ENDS*/

/*Index CSS Begins*/
.cover {
  position: relative;
  display: block;
}

.cover__img{
position: relative;
width:100%;
}

.cover__title {
  position: absolute;
  font-weight: 900;
  font-size: 2em;
}

.cover__title--green {
  top: 12%;
  left: 55%;
  color: #6FCF97;
}

.cover__title--white {
  top: 25%;
  left: 65%;
  color: white;
}

.cover__title--about {
  top: 7%;
  left: 25%;
  color: black;
  text-align: right;
}

.main {
  display: block;
  text-align: center;
  margin-top: 1em;
}

.main__title {

}

.main__text {
  width: 84%;
  margin: auto;
  padding: 0.5em 0em;
  font-size: 0.9em;
  line-height: 1.2em;
}

.square-menu {
  display: block;
  height: 9em;
  background-color: #E0E0E0;
  text-align: center;
  position: relative;
}

.square-menu__upper-left {
  position: absolute;
  padding-top: 2em;
  width: 40%;
  top: 1%;
}

.square-menu__upper-right {
  position: absolute;
  padding-top: 2em;
  width: 42%;
  left: 50%;
}

.square-menu__lower-left {
  position: absolute;
  width: 50%;
  top: 60%;
}
.square-menu__lower-right {
  position: absolute;
  width: 50%;
  top: 60%;
  left: 50%;
}

.square-menu__apply {
  color: #6FCF97;
  list-style-type: none;
  display: inline-block;
  /*border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: medium;*/
}

.square-menu__volunteer {
  /*display: inline-block;*/
  color: #6FCF97;
  list-style-type: none;
}

.square-menu__about {
  /*display: inline-block;*/
  color: #6FCF97;
  list-style-type: none;
}

.square-menu__four {
  /*display: inline-block;*/
  color: #6FCF97;
  list-style-type: none;
}

.gallery {
  display: block;
  text-align: center;
  height: 18.2em;
}

.gallery__title {
  color: #6FCF97;
  text-decoration: underline;
}

.gallery__img {
width: 100%;
}
/*Index CSS ENDS*/

/*Volunteer page*/
.key-details {
  padding: 4%;
  background-color: #E0E0E0;
}
/*Volunteer page ends*/

/*Apply page*/
.form {
  display: block;
  padding: 4%;
  line-height: 1.2em;
  text-align: center;
}

.visually-hidden {
  display: none;
}

fieldset {
  border: none;
  text-align: left;r
}

.form__input {
  border: 1px solid black;
  margin: 10px 0;
}

.form__label{
  font-weight: 900;
}

.form__button{
  margin-top: 1em;
  padding: 0.8em;
  border: 2px solid black;
  color: #6FCF97;
  background-color: white;
  font-weight: 900;
}
/*Apply page ends*/
