body {
  font-family: 'Heebo', sans-serif;
  margin: 0;
}

/*NAVBAR BEGINS*/

.nav-title {
  text-decoration: none;
  font-size: 2.5em;
  color: black;
}

.hamburger {
  font-size: 2.5em;
  position: absolute;
  top: 0;
  right: 0;
}

.cross {
  font-size: 2.5em;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.menu {
  position: absolute;
  display: none;
  width: 100%;
  background: #E0E0E0;
  font-size: 1em;
  text-align: center;
}
.menu__list {
  margin: 0;
  padding: 0;
}
.menu__list__item {
  display: block;
  padding:15px 0 15px 0;
  border-bottom: white 1px solid;
}
.menu__list__item:hover{
  display: block;
  background:#C4C4C4;
  padding:15px 0 15px 0;
  border-bottom: white 1px solid;
}

/*Check the need for this********/
.menu ul li a {
  margin: 0px;
}

/*Check the need for this********/
.menu a{
  text-decoration:none;
  color: black;
}

/*NAVBAR ENDS*/

/*FOOTER BEGINS*/
.footer {
  text-align: center;
}

.testimonial {
  background-color: #E0E0E0;
  display: block;
  margin: auto;
  height: 9em;
  /*width: 100%;*/
  /*text-align: center;*/
}

.testimonial__quote {
  font-style: italic;
  font-size: 1em;
  padding-top: 2em;
  width: 90%;
  margin: auto;
}

.testimonial__author {
  font-weight: bold;
  font-size: 1em;
}

.footer-links {
  padding: 0.5em 0em;
}

/*Check what's neccessary*/
.footer-links__link {
  font-size: 0.8em;
  padding: 0em 2.5em;
  text-decoration: underline;
  color: black;
}

.footer-links__link:visited {
  text-decoration: underline;
  color: black;
}

.footer-links__link:hover {
  font-weight: bold;
}

/*FOOTER ENDS*/

/*Index CSS Begins*/
.cover {
  height: 25em;
  width: 100%;
  /*display: block;*/
  position: absolute;
}

.cover__img{
position: relative;
width:100%;
}

.cover__title {
  position: absolute;
  font-weight: 900;
  font-size: 2em;
}

.cover__title--green {
  top: 23%;
  left: 61%;
  color: #6FCF97;
}

.cover__title--white {
  top: 33%;
  left: 71%;
  color: white;
}

.main {
  /*display: block;*/
  margin: auto;
  text-align: center;
}

.square-menu {
  display: block;
  margin: auto;
  height: 200px;
  background-color: #E0E0E0;
  text-align: center;
  color: green;
  text-decoration: none;
}

.square-menu__apply {
  list-style-type: none;
  /*border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: medium;*/
}

.square-menu__volunteer {
  list-style-type: none;
}

.square-menu__about {
  list-style-type: none;
}

.square-menu__four {
  list-style-type: none;
}

.gallery {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
}

.gallery__title {
  color: #6FCF97;
  text-decoration: underline;
}
/*Index CSS ENDS*/

/*Volunteer page*/
.key-details {
  background-color: #E0E0E0;
}


/*Volunteer page ends*/
