<section class="cover">
<img class="cover__img" src='images/window.png' alt='Ghanaian student speaking at blackboard'></img>
<h1 class="cover__img__title">EMPOWERING RURAL CHILDREN</h1>
</section>

<section class="main">
<h2 class="main__title">About Triumph</h2>
<p class="main__text">
Triumph was set up in 2000 by Peter and Gladys Oduro to provide a quality education to children in need in Mowire. Mowire is a village 13km outside of Kumasi, Ghana’s 2nd largest city. It can be reached by trotro (minibus).
</p>
<p class="main__text">
Now the school educates XXX children from nursery through to JHS2 (X years age).
</p>
<p class="main__text">
They have welcomed volunteers from all over the world and of all ages, from 18 year olds to those in their 60s!
</p>
<p class="main__text">
Volunteers have had a profound impact on the school. Thanks to volunteers the school now has running water, computers, reading books and new building developments.
</p>
<a class="link link--back-home" href="/">Back to home</a>
</section>
