<section class="cover">
<img class="cover__img" src='images/triumph.jpg' alt='The school buildings'></img>
</section>

<section class="main">
<h2 class="main__title">About Triumph</h2>
<p class="main__text">
Triumph was set up in 2000 by Peter and Gladys Oduro to provide a quality education to children in need in Mowire. Mowire is a village 13km outside of Kumasi, Ghana’s 2nd largest city. It can be reached by trotro (minibus).
</p>
<p class="main__text">
Now the school educates 400 children from nursery through to JHS2 (14 years old). Most students pay a small tuition, but this is waived for those who cannot, as the Oduros believe that every child deserves an education.
</p>
<p class="main__text">
Triumph has welcomed volunteers from all over the world and of all ages, from 18 year olds to those in their 60s!
</p>
<p class="main__text">
Volunteers have had a profound impact on the school. Thanks to volunteers the school now has running water, computers, reading books and new building developments.
</p>
<div class="main__school-directors">
<img class="main__school-directors__img" src='images/peter-and-gladys.jpg' alt='Peter and Gladys the school founders'></img>
</div>
<a class="link link--back-home" href="/">Back to home</a>
</section>
