<h3 class="main__title">Apply</h3>
<form method="post" action="/<br>" enctype="multipart/form-data">
  <label for="first-name">First Name* </label><input class="input-block" name="first-name"></input><br>
  <label for="last-name">Last Name* </label><input class="input-block" name="last-name" type="text" required></input><br>
  <label for="email">Email* </label><input class="input-block" type="text" name="email" required><br>
  <label for="address">Address* </label><input class="input-block" name="address" type="text" required></input><br>
  <label for="phone">Phone Number* </label><input class="input-block" name="phone" type="number" required></input><br>
  <label for="dob">Date of Birth* </label><input class="input-block" name="dob" type="number" required></input><br>
  <label for="gender">Gender* </label><input class="input-block" name="gender" type="text" required></input><br>
  <label for="nationality">Nationality* </label><input class="input-block" name="nationality" type="text" required></input><br>
  <label for="occupation">Occupation* </label><input class="input-block" name="occupation" type="text" required></input><br>
  <label for="sos-contact">Emergency Contact Name* </label><input class="input-block" name="sos-contact" type="text" required></input><br>
  <label for="sos-contact-rel">Emergency Contact Relationship to You* </label><input class="input-block" name="sos-contact-rel" type="text" required></input><br>
  <label for="sos-contact-no">Emergency Contact Phone Number* </label><input class="input-block" name="sos-contact-no" type="number" required></input><br>
  <label for="medical-hist">Relevant Medical History* </label><input class="input-block" name="medical-hist" type="text" required></input><br>
  <label for="start-date">Planned Start Date* </label><input class="input-block" name="start-date" type="number" required></input><br>
  <label for="end-date">Planned End Date* </label><input class="input-block" name="end-date" type="number" required></input><br>
  <label for="about-you">Tell us a little bit about you* </label><input class="input-block" name="about-you" type="text" required></input><br>
  <label for="motivation">Why do you want to volunteer and what do you want to gain from the experience?* </label><input class="input-block" name="motivation" type="text" required></input><br>
  <label for="previous-exp">Do you have any previous volunteer experience or any related skills or qualifications you think would be useful when volunteering?* </label><input class="input-block" name="previous-exp" type="text" required></input><br>
  <label for="extra-comments">Any questions or comments, such as if you’re coming as a group?* </label><input class="input-block" name="extra-comments" type="text" required></input><br>
  <label for="hear-about-Triumph">How did you hear about us? (Search engine, previous volunteer, Kids Worldwide, Other)*  </label><input class="input-block" name="hear-about-Triumph" type="text" required></input><br>
  <button type="submit">Submit Application</button>
</form>
