<h3>Apply</h3>
<form method="post" action="/">
  <label for="first-name">First Name </label><input class="input-block" name="first-name"></input>
  <label for="last-name">Last Name </label><input class="input-block" name="last-name" type="text" required></input>
  <label for="email">Email</label><input class="input-block" type="text" name="email" required>
  <label for="password">Password</label><input class="input-block" type="password" name="password" required>
  <button type="submit">Submit Application</button>
</form>
