<section class="main main--contact">
  <h2 class="main__title">Contact</h2>
  <p class="main__text--contact">
    To speak to someone about volunteering at Triumph email: cleo.pearson@hotmail.co.uk
  </p>
</section>
