<section class="faq">
  <h2 class="main__title">FAQ</h2>
  <h3 class="faq__question">I've never taught before, does this matter?</h3>
  <p class="faq__answer">
    No, many of our volunteers come to us without previous teaching experience.
    In order to get the best experience from your time as a volunteer we
    recommend thinking about what interests you before you arrive. Google lesson
    ideas, pack your bag with some teaching tools whether that's books, craft
    materials or skipping ropes.
  </p>
  <h3 class="faq__question">
    I'm not confident enough to teach a whole class, can I still help?
  </h3>
  <p class="faq__answer">
    Yes. Volunteers always begin at Triumph by easing themselves in. They
    usually start by observing different classes' lessons to get an idea of the
    children's abilities and the teaching style. Then when they feel comfortable,
    volunteers can start to get more involved. For some that's providing
    additional support to the teacher, for others that's taking struggling
    students out of class for 1 to 1 reading support and for others that's
    teaching a class themselves.
  </p>
  <h3 class="faq__question">
    Will there be other volunteers at Triumph during my stay?
  </h3>
  <p class="faq__answer">
    It depends! You are welcome to volunteer with friends or family as a group.
    Triumph has the facilities to accomodate several volunteers at a time.
    However, it is down to volunteers to select when/for how long they wish to
    stay as a result, there may or may not be other volunteers during your stay.
  </p>
  <h3 class="faq__question">Can I help doing construction work?</h3>
  <p class="faq__answer">
    Yes, volunteers often help with digging trenches for foundations, mixing
    cement and transporting blocks. Triumph often has small construction
    projects on the go. Why not fundraise back home to help give the latest
    project a boost whilst you are here?
  </p>
  <h3 class="faq__question">What should I wear?</h3>
  <p class="faq__answer">
    Rules of dress in Ghana are fairly relaxed but more modest than most Western
    countries. Men can generally dress as they would at home. Women can wear
    knee-length shorts/skirts but shouldn't wear crop-tops that expose the
    stomach. Exposing your shoulders is fine but low cut tops should be avoided.
  </p>
  <h3 class="faq__question">Is Ghana safe?</h3>
  <p class="faq__answer">
    Ghana is considered one of the safest countries in Africa. It has been
    politically stable for longer than most countries on the continent. You
    should use common sense to keep you and your belongings safe as you would
    when travelling anywhere new.
  </p>
  <h3 class="faq__question">Where's the nearest hospital?</h3>
  <p class="faq__answer">
    Fortunately Triumph's village, Mowire has its own private hospital. The
    nearest major city, Kumasi also has a range of health facilities/hospitals.
  </p>
  <h3 class="faq__question">What language do people speak?</h3>
  <p class="faq__answer">
    Ghana's official language is English however most people's first language
    will be a regional language. In the Ashanti region, this language is Twi.
    School is taught entirely in English (aside from Twi classes!) Even at
    breaktime children should speak in English. However, in practice some
    people's English is better than others. Volunteers have no trouble at all
    visiting town or shopping using English. Just make sure you don't speak too
    quickly!
  </p>
  <h3 class="faq__question">How do I get from Accra airport to Triumph?</h3>
  <p class="faq__answer">
    For a small additional fee volunteers can request an airport pick-up. You
    will be met at the airport, accommodated in Accra for the night (if needs be)
    and then taken to the Accra coach station to get on a coach for Kumasi (5-6
    hours journey). In Kumasi you will be met at the coach station by Peter and
    driven to Triumph. The coaches run very regularly, they are spacious and
    airconditioned with allocated seats and space for luggage underneath.
    Alternatively you can also fly from Accra to Kumasi (< 1 hour, return approx
    $110).
  </p>
  <a class="link link--back-home" href="/">Back to home</a>
</section>
