<section class="cover">
  <img class="cover__img" src='images/deborah.png' alt='Ghanaian student speaking at blackboard'></img>
  <h1 class="cover__title cover__title--white">CHANGE<br>A LIFE</h1>
</section>

<section class="main">
  <p class="main__text">
    Triumph is a junior school in Ghana’s Ashanti region. It educates rural children at an affordable price and cares for a small number of orphans.
  </p>
  <p class="main__text">
    Triumph’s mission is to improve its students’ opportunities to reach further education and employment.
  </p>
  <p class="main__text">
    Triumph needs volunteers like <strong>you</strong> to help make its mission a reality.
  </p>
</section>

<section class="square-menu">
  <ul>
    <div class="square-menu__upper-left">
      <a class="square-menu__apply" href="/apply"><li>APPLY</li></a>
    </div>
    <div class="square-menu__upper-right">
      <a class="square-menu__volunteer" href="/volunteer"><li>VOLUNTEER</li></a>
    </div>
    <div class="square-menu__lower-left">
      <a class="square-menu__about" href="/about"><li>ABOUT TRIUMPH</li></a>
    </div>
    <div class="square-menu__lower-right">
      <a class="square-menu__four" href="/faq"><li>FAQ</li></a>
    </div>
  </ul>
</section>

<section class="gallery">
  <img class="gallery__img" src="images/female-volunteer.png" alt="A female volunteer with young students"></img>
  <img class="gallery__img" src="images/clocks-blackboard.png" alt="Students drawing clocks on a blackboard"></img>
  <img class="gallery__img" src="images/male-volunteer.png" alt="A male volunteer surrounded by students"></img>
  <img class="gallery__img" src="images/smile.png" alt="A young boy smiling"></img>
  <img class="gallery__img" src="images/boys.png" alt="Two boys interacting with the camera"></img>
  <img class="gallery__img" src="images/derek.png" alt="A group of boys"></img>
</section>
<script src="gallery-carousel.js"></script>
