<img src='/images/deborah.png' alt='Ghanaian student speaking at blackboard'></img>
<h1>CHANGE A LIFE</h1>

<p>
  Triumph is a junior school in Ghana’s Ashanti region. It educates rural children at an affordable price and cares for a small number of orphans.
</p>
<p>
  Triumph’s mission is to improve its students’ opportunities to reach further education and employment.
</p>
<p>
  Triumph needs volunteers like you to help make its mission a reality.
</p>

<div class="square-menu">
  <ul>
    <a href="#"><li>APPLY</li></a>
    <a href="#"><li>VOLUNTEERING INFO</li></a>
    <a href="#"><li>ABOUT TRIUMPH</li></a>
    <a href="#"><li>LINK FOUR</li></a>
  </ul>
</div>

<section class="gallery">
<h3>Gallery</h3>
<img src="/images/clocks-blackboard.png" alt="Students drawing clocks on a blackboard"></img>
</section>
