<section class="cover">
  <img class="cover__img" src='./images/male-volunteer.png' alt='Ghanaian student speaking at blackboard'></img>
  <h1 class="cover__title cover__title--white">APPLY TODAY</h1>
</section>

<section class="main">
  <h2 class="main__title">What can I do?</h2>
  <p class="main__text">
    Triumph needs volunteers like you to help provide their kids’ with a better education.
  </p>
  <p class="main__text">
    You don’t have to have teaching experience but enthusiasm and a positive attitude are musts.</p>
    <p class="main__text">
      Volunteers choose how they would like to spend their time.
    </p>
    <p class="main__text">
      You can choose any age group, subject and level of leadership to work with. Some volunteers plan and teach their own lessons, others may prefer to act as a teaching assistant or give 1 on 1 reading support to struggling students.
    </p>
  </section>

  <section class="key-details">
    <h2>Key Details</h2>
    <h3>ACCOMMODATION</h3>
    <p>
      Volunteers live in the main house which is situated at the school. They get their own room. At busy times same sex volunteers may be asked to share a room.
    </p>
    <h3>FOOD</h3>
    <p>
      Volunteers are provided 3 meals a day at the house. We encourage volunteers to try the local dishes but there are also lots of familiar foods such as pasta and rice. We also cater for vegetarians.
    </p>
    <h3>DURATION</h3>
    <p>
      Triumph offers placements from a couple of weeks to several months.
    </p>
    <h3>WHEN</h3>
    <p>
      Anytime! During school holidays the school runs optional extra classes and children in the school’s care stay on site.
    </p>
    <h3>COST</h3>
    <p>
      100% of your costs go towards providing you with food, accomodation and sustaining the school.
    </p>
    <p>
      < 1 month - $300<br>
      1 month   - $400<br>
      2 months - $500<br>
      3 months - $600<br>
    </p>
    <a class="link link--back-home" href="/">Back to home</a>
  </section>
