<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Volunteer and teach in Ghana | Triumph School</title>
  <link href="https://fonts.googleapis.com/css?family=Heebo:100" rel="stylesheet">
  <link href="./main.css" rel="stylesheet"/>
</head>
<body>
  <!-- Navbar -->
  <header>
    <a href="/">TRIUMPH</a>
    <button class="hamburger">&#9776;</button>
    <button class="cross">&#735;</button>
  </header>

  <div class="dropdown-menu">
    <ul>
      <a href="#"><li>APPLY</li></a>
      <a href="#"><li>VOLUNTEERING INFO</li></a>
      <a href="#"><li>ABOUT TRIUMPH</li></a>
      <a href="#"><li>LINK FOUR</li></a>
    </ul>
  </div>
  <!-- End of navbar -->

  {{{content}}}

  <!-- Footer -->
  <section class="footer">
    <div class="testimonials">
      <p>
        “I had no idea what a life changing experience this would be”
      </p>
      <p>
        Nancy, New York
      </p>
    </div>
    <a href="#">Contact</a>
    <a href="#">FAQ</a>
  </section>
  <!-- End of Footer -->

</body>
</html>
