<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Volunteer and teach in Ghana | Triumph School</title>
  <link rel="stylesheet" href="./normalize.css">
  <link rel="icon" href="./images/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400" rel="stylesheet">
  <link href="./main.css" rel="stylesheet"/>
</head>
<body>
  <!-- Navbar -->
  <header>
    <a href="/" class="nav-title">TRIUMPH</a>
    <button id="hamburger">&#9776;</button>
    <button id="cross">&#735;</button>
  </header>

  <div id="menu">
    <ul class="menu__list">
      <a class="menu__list__item" href="/apply"><li>APPLY</li></a>
      <a class="menu__list__item" href="/volunteer"><li>VOLUNTEER</li></a>
      <a class="menu__list__item" href="/about"><li>ABOUT TRIUMPH</li></a>
      <a class="menu__list__item" href="/faq"><li>FAQ</li></a>
    </ul>
  </div>
  <!-- End of navbar -->

  <!-- Main Content -->
  {{{content}}}
  <!-- End of Main Content -->

  <!-- Footer -->
  <section class="footer">
    <section class="footer__testimonial-section">
      <div class="testimonial">
        <p class="testimonial__quote">“I had no idea what a life changing experience this would be”</p>
        <p class="testimonial__author">Nancy, New York</p>
      </div>
      <div class="testimonial">
        <p class="testimonial__quote">“Everything about this place is amazing”</p>
        <p class="testimonial__author">Amy, Vancouver</p>
      </div>
      <div class="testimonial">
        <p class="testimonial__quote">“They taught me more than I could ever teach them”</p>
        <p class="testimonial__author">Emer, Dublin</p>
      </div>
      <div class="testimonial">
        <p class="testimonial__quote">“I cannot remember ever feeling more welcome”</p>
        <p class="testimonial__author">Mark, Adelaide</p>
      </div>
      <div class="testimonial__circles">
        <i class="fa fa-circle testimonial__circle" aria-hidden="true" onclick="currentDiv(1)"></i>
        <i class="fa fa-circle testimonial__circle" aria-hidden="true" onclick="currentDiv(2)"></i>
        <i class="fa fa-circle testimonial__circle" aria-hidden="true" onclick="currentDiv(3)"></i>
        <i class="fa fa-circle testimonial__circle" aria-hidden="true" onclick="currentDiv(4)"></i>
      </div>
      <section class="footer-links">
        <a class="footer-links link" href="/contact">Contact</a>
        <a class="footer-links link" href="/faq">FAQ</a>
      </section>
      <!-- End of Footer -->

      <script src="https://use.fontawesome.com/ebb17be039.js"></script>
      <script src="scripts/testimonial-carousel.js"></script>
      <script src="scripts/hamburger.js"></script>
    </body>
    </html>
